@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --darker-grey: #111;
  --dark-grey: #222;
  --yellow: #FD0;
  --green: #2A6;
  --blue: #0AF;
  --orange: #F83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Source Code Pro', monospace;
}
a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}
#navbar-menu {
  display: sticky;
  background-color: var(--dark-grey);
  width: 100%;
  z-index: 999;
  position: fixed;
}
#ul-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 10vw;
}
.li-menu {
  font-size: .850rem;
  border-bottom: 2px solid var(--dark-grey);
  /* margin: 0 20px 0 20px; */
}
#li-menu-home:hover {
  background-color: var(--darker-grey);
  border-bottom: 2px solid var(--yellow);
}#li-menu-about:hover {
  background-color: var(--darker-grey);
  border-bottom: 2px solid var(--green);
}#li-menu-projects:hover {
  background-color: var(--darker-grey);
  border-bottom: 2px solid var(--blue);
}#li-menu-contact:hover {
  background-color: var(--darker-grey);
  border-bottom: 2px solid var(--orange);
}
/* home */
#home {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: var(--yellow);
  display: grid;
  place-content: center;
  align-content: center;
}
/* about */
#about {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: var(--green);
  display: grid;
  place-content: center;
  align-content: center;
}
/* projects */
#projects {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: var(--blue);
  display: grid;
  place-content: center;
  align-content: center;
}
/* contact */
#contact {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: var(--orange);
  display: grid;
  place-content: center;
  align-content: center;
}
/* media queries */
@media (max-width: 850px) {
  #ul-menu {
    justify-content: center;
    margin-right: 0;
  }
}
