@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --darker-grey: #111;
  --dark-grey: #222;
  --grey: #999;
  --yellow: #FD0;
  --green: #2A6;
  --blue: #0AF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: white;
  color: var(--dark-grey);
}
/* navigation bar */
a {
  text-decoration: none;
  color: white;
}
#navbar-menu {
  display: sticky;
  background-color: var(--dark-grey);
  width: 100%;
  z-index: 9999999;
  position: fixed;
  padding: 14.4px;
}
#ul-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 10vw;
}
.li-menu {
  font-family: 'Source Code Pro', monospace;
  font-size: .850rem;
  padding: 18px 25px 13px 25px;
}
#li-menu-home:hover,
#li-menu-about:hover,
#li-menu-projects:hover,
#li-menu-contact:hover {

  background-color: var(--darker-grey);
  border-bottom: 2px solid var(--grey);
}
/* home */
#home {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: grid;
  place-content: center;
  align-content: center;
}
#heading-home {
  font-size: 100pt;
  font-family: Arial;
  -webkit-text-stroke: 4px #FFF;
  color: transparent;
  font-weight: 600;
  z-index: 1;
}
#occupation-home {
  text-align: center;
  font-size: 20pt;
  font-family: Arial;
  color: white;
  letter-spacing: 15px;
  font-weight: 400;
  padding: 50px;
  z-index: 1;
}
#home h1, #home p {
  padding: 0 10px 15px 10px;
  transition: 5s;
}
.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* about */
#about {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: rgba(255, 255, 255, .8);
  display: grid;
  place-content: center;
  align-content: center;
}
#about img {
  height: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}
.left-and-right {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 35px;
  align-items: center;
  height: 500px;
  width: 700px;
}
.left-and-right p {
  font-size: 14pt;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}
.left-and-right p::selection {
  background-color: var(--dark-grey);
  color: #FFF;
}
/* projects */
#projects {
  display: grid;
  place-content: center;
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: rgba(255, 255, 255, .9);
}
#projects-header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#projects-header h1 {
  margin: 0 0 100px 0;
  font-size: 23pt;
}
#projects-header h1::selection {
  background-color: var(--dark-grey);
  color: #FFF;
}
#article-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project {
  display: grid;
  place-content: center;
  height: 200px;
  width: 200px;
  font-size: 60pt;
  font-weight: 200;
  background-color: var(--dark-grey);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
  margin: 50px 50px 50px 50px;
  transition: .3s;
  cursor: pointer;
  color: #FFF;
}
.project:hover {
  transform: scale(1.5);
}
.project img {
  opacity: 95%;
}
.project img:hover {
  opacity: 100%;
}
/* contact */
#article-contact {
  font-size: 45pt;
  font-weight: bolder;
  height: 100vh;
  background-color: #FFF;
  display: grid;
  place-content: center;
  align-content: center;
}
#contact-header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#contact-header h1 {
  font-size: 23pt;
  margin: 0 0 27px 0;
}
#contact-header h1::selection {
  background-color: var(--dark-grey);
  color: #FFF;
}
#contact-header::selection {
  background-color: var(--dark-grey);
  color: #FFF;
}
#contact {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 150vh;
  background-color: white;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0 30px 0 30px;
}
.card {
  width: 395px;
}
.label-float {
  font-size: 1.1rem;
  position: relative;
  padding-top: 13px;
  margin: 0 0 3% 0;
}
.label-float .input {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 14pt;
  transition: all .3s ease-out;
  border-radius: 0;
}
.label-float .input::selection {
  background-color: var(--dark-grey);
  color: #FFF;
}
.label-float label {
  font-size: 14pt;
  font-weight: 400;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 120ms ease-out;
  margin-top: 13px;
}
.label-float input:focus ~ label,
.label-float input:valid ~ label {
  font-size: 10pt;
  margin-top: 0;
}
#message {
  padding: 10px;
  margin: 25px 0 0 0;
  width: 100%;
  border: 2px solid black;
  font-size: 14pt;
  outline: none;
}
#button-contact {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
  transition: all 150ms ease-out;
  outline: none;
  border: none;
  width: 200px;
}
#button-contact:hover {
  background-color: #444;
}
.justify-center {
  display: flex;
  justify-content: center;
}
/* footer */

/* back to top button */
#back-to-top {
  border: none;
  position: fixed;
  height: 70px;
  width: 70px;
  top: 85%;
  right: 5%;
  background-color: var(--dark-grey);
  cursor: pointer;
  z-index: 9999;
}
#back-to-top span {
  color: white;
  font-size: 30pt;
  writing-mode: vertical-rl;
  transform: scale(-1);
}
/* media queries */
@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  #home h1 {
    font-size: 70pt;
    -webkit-text-stroke: 2.5px #FFF;
    font-weight: 700;
  }
  #home p {
    font-size: 14pt;
  }
}
@media (max-width: 850px) {
  #ul-menu {
    justify-content: center;
    margin-right: 0;
  }
  .li-menu {
    padding: 18px 18px 13px 18px;
  }
  #home h1 {
    font-size: 50pt;
    -webkit-text-stroke: 2px #FFF;
  }
  #home p {
    font-size: 13pt;
    letter-spacing: 10px;
  }
  #about img {
    margin-bottom: 40px;
  }
  #about p {
    font-size: 12pt;
  }
  .left-and-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    height: 500px;
    width: auto;
  }
  #projects {
    height: 170vh;
  }
}
@media (max-width: 550px) {
  #home h1 {
    font-size: 40pt;
    -webkit-text-stroke: 1.8px #FFF;
  }
}
@media (max-width: 450px) {
  #home h1 {
    font-size: 30pt;
    -webkit-text-stroke: 1.5px #FFF;
  }
  #home p {
    letter-spacing: 5.5px;
  }
  #about p {
    font-size: 10pt;
  }
}
